* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}


body {
    background-color: #0000009f;
    color: #ffffff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #1c060a;
    text-shadow: 0 0 10px #ff002f8a ;
}


header nav ul {
    display: flex;
    gap: 48px;

}

header nav ul li {
    cursor: pointer;
    position: relative;
    color: #ff002fc9;
    padding: 5px 0;
    font-weight: 500;
}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #1c060a;
    transition: width 0.5s ease;
}

header nav ul li:hover::after { 
    width: 100%;
}

.conteiner {
    height: 100vh;
    position: relative;
    background: linear-gradient(135deg, #370b13 0%, #370b13c7 100%);
    overflow: hidden;
}

.conteiner::before {
    content: '';
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(173, 28, 28, 0.2) 0%, rgba(250, 34, 70, 0) 70% );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    animation: pulse 4s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;    
}


.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transform: translateX(100vw);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}


.active {
    opacity: 1;
    transform: translate(0);
}

.produto-img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.produto-img img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 30px #d1122b51);
}


.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;    
    flex-direction: column;
}

.produto-tag {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #ff002fc9;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.produto-name{
    font-size: 3.0rem;
    font-family: "Orbitron", sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;
}

.descrição {
    font-size: 1rem;
    color: rgb(212, 203, 203)  ;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.bnt {
    padding: 12px 16px;
    background: linear-gradient(90deg, #ff002f54, #ff002f18);
    border-radius: 30px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.bnt:hover {
    opacity: 0.9;
    transition: 1s ease-in-out;
}

.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index: 5;
}

.arrow-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #1c060a;
    border: 1px solid #ff002f8a;
}

.arrow-btn:hover {
    background-color: #1c060a;
    border-color: #ff002f8a;
}

.indicadores {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 5;

}

.number {
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.404);
}

.dots {
    display: flex;
    gap: 10px ;
}

.dot {
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 2px;
}

.dot.active {
        background-color: #1c060a;
    box-shadow: 0 0 10px #ff002f8a;
}

.tech-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #a12d42;
}

.circle:nth-child(1) {
    width: 190px;
    height: 170px;
    top: 11%;
    left: 5%;
}
.circle:nth-child(2) {
    width: 250px;
    height: 230px;
    top: 60%;
    left: 80%;  
}

.circle:nth-child(3) {
    width: 140px;
    height: 140px;
    top: 70%;
    left: 20%;  
}

.circle:nth-child(4) {
    width: 140px;
    height: 140px;
    top: 15%;
    left: 80%;  
}


/* Menu padrão */

header nav {
  display: flex;
  align-items: center;
  position: relative;
}

header nav ul {
  display: flex;
  gap: 48px;
}

header nav ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

header nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #1c060a;
  box-shadow: 0 0 10px #ff002f8a;
  transition: width 0.5s ease;
}

header nav ul li:hover::after {
  width: 100%;
}

/* Botão hamburguer (mobile) */
.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #dba5af;
  z-index: 999;
}

/* Responsivo */
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    right: 100px;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    background-color: #1f1f3a;
    padding: 20px;
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 10px;
    gap: 20px;
    z-index: 998;
  }

  header nav ul li {
    width: 100%;
  }

  header nav ul li a {
    width: 100%;
    display: block;
    padding: 10px;
  }

  header nav ul.show {
    display: flex;
  }
}


/* RESPONSIVIDADE */

@media (max-width: 1024px) {
  .content {
    padding-right: 40px;
  }

  .produto-name {
    font-size: 2.2rem;
  }

  .descrição {
    font-size: 0.95rem;
  }

  .bnt {
    font-size: 0.9rem;
    padding: 10px 14px;
  }

  header nav ul {
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .item {
    flex-direction: column;
    padding: 60px 20px 0;
    text-align: center;
  }

  .produto-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .produto-img img {
    max-width: 70%;
    max-height: 250px;
  }

  .content {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .produto-name {
    font-size: 1.8rem;
  }

  .descrição {
    font-size: 0.9rem;
  }

  .arrows {
    width: 100%;
    top: 92%;
  }

  header {
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
  }

  header nav ul {
    gap: 24px;
  }
}

@media (max-width: 480px) {
    
  .produto-name {
    font-size: 1.4rem;
  }

  .descrição {
    font-size: 0.85rem;
  }

  .bnt {
    font-size: 0.8rem;
    padding: 10px 12px;
  }

  .arrow-btn {
    width: 40px;
    height: 40px;
  }

  .number {
    font-size: 2rem;
  }

  .dot {
    width: 20px;
    height: 3px;
  }

  header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .logo {
    font-size: 1.5rem;
  }
}
